<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.socialcrm.ru">
                        Social CRM
                    </a>
                </li>
                <li>
                    <a href="https://socialcrm.ru/about-us">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
        </div>
    </div>
</footer>
